.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;
  position: relative;
}

.group {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.input {
  padding: 12px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;
  border-style: solid;
  border-width: 2px;
  border-color: #e0e0e0;
  color: #212529;
  background-color: #f4f4f4;
  background-clip: padding-box;
  appearance: none;
  border-radius: 17px 20px 3px 0px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
}

.input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* Error state style */
.inputError {
  border-color: #d60000;
}

.error {
  color: #d60000;
  font-weight: 500;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0.5rem;
  font-size: 14px;
  z-index: 1;
}

@media (min-width: 768px) {
  .inputDiv {
    gap: 2rem;
    align-items: center;
    flex-direction: row;
  }

  label {
    flex: 1;
    text-align: end;
    font-weight: 700;
    color: #696969;
  }
}

@media (min-width: 1280px) {
  .inputDiv {
    gap: 2rem;
  }
}
