.container h1 {
  color: #854cff;
}
.container1 h1 {
  display: flex;
  justify-content: center;
  color: #5076ff;
}
.noData {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--error-color);
}

.table {
  margin-top: 2rem;
  width: 100%;
  font-weight: 600;
  border-spacing: 0px;
  border-radius: 10px;
}

.table th {
  background-color: #5076ff;
  color: white;
  padding: 1rem;
}

.table tr,
.table td {
  padding: 1rem;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #b3c4ff;
}

.icons {
  display: flex;
  gap: 1rem;
}

.actions {
  margin-top: 2rem;
  display: flex;
  gap: 9px;
  padding-top: 32px;
  justify-content: space-between;
}

.actions button {
  flex: 1;
}
